@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    body {
        @apply p-0 m-0 font-poppinsRegular -tracking-normal
    }
    button {
        @apply border-2 p-2 rounded-md bg-primary text-white transition-all duration-300 delay-150 text-sm
    }
    button:hover {
        @apply bg-secondary text-black
    }
    .transitionCustom {
        @apply transition-all duration-300 delay-150
    }
    .formElement {
        @apply flex flex-col gap-3
    }
    .fieldInput {
        @apply border-2 p-2 rounded-md font-poppinsLight text-sm
    }
    .successMessage {
        @apply text-green-700
    }
}

@font-face {
    font-family: "poppins-regular";
    src: url(../public/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins-black";
    src: url(../public/fonts/poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: "poppins-bold";
    src: url(../public//fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "poppins-light";
    src: url(../public/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "poppins-italic";
    src: url(../public/fonts/poppins/Poppins-Italic.ttf);
}